/* Estilo general de la barra de navegación */
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Estilo de los enlaces en la barra de navegación */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Estilo para la imagen con el logo de la aplicacion */
#logo {
    max-width: 100px;
    text-align: left;
    align-self: flex-start;
}

/* Estilo del enlace activo */
#current-page {
    background-color: white;
    color: #333;
}

/* Estilo del título de la página */
#titulo {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px;
    color: white;
}

/* Estilo del contenedor de las cajas */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Estilo de cada cuadrado */
.square {
    width: 300px;
    height: 300px;
    background-color: #333;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Estilo del enlace dentro del cuadrado */
.square a {
    color: #fff;
    font-size: 24px;
    color: white;
    text-decoration: none;
    position: absolute;
    transition: background-color 0.3s ease-in-out;
    background-color: rgb(84, 143, 2);
    border-radius: 10px;
    padding: 10px;
}

/* Estilo para cuando se mantiene el raton sobre el enlace dentro del cuadrado */
.square a:hover {
    background-color: darkblue;
}

/* Estilo del contenedor principal */
.visualizar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    margin-top: 10px;
    overflow: hidden;
    width: 90vw;
    height: 75vh;
}

#marco {
    box-sizing: border-box;
    background-color: #e2e1e1;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

#view{
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 3px solid black;
    background-color: rgb(197, 245, 197);
}

/* Estilo de la parte izquierda del contenedor principal */
#parte-izquierda {
    flex-basis: 60%;
}

/* Estilo de la parte derecha del contenedor principal */
#parte-derecha {
    flex-basis: 40%;
}

/* Estilo del pie de página */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

/* Estilo de la clase contenedor */
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Estilo del primer div dentro de la clase contenedor */
#parte-izquierda {
    flex-basis: 50%;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

/* Estilo del segundo div dentro de la clase contenedor */
#parte-derecha {
    flex-basis: 50%;
    box-sizing: border-box;
    background-color: #e6e6e6;
}

/* Estilo del grafico de barras */
#info-chart {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
}